
*.xcuserstate
WordScramble/WordScramble.xcodeproj/xcuserdata/robertbates.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.jpg
*.xcbkptlist
*.xcworkspacedata
*.plist
HackingWithSwift/
.DS_Store
.DS_Store
